examples/cdk/step-functions/sam/template.yaml
Transform:                              AWS::Serverless-2016-10-31


Resources:

  ##
  ## StepFunctionsStack / OrderNotificationTopic / Resource
  ##

  OrderNotificationTopic:
    Type:                               AWS::SNS::Topic
    Properties:
      DisplayName:                      Order Processing Notifications

  ##
  ## StepFunctionsStack / ValidateOrderFunction / Resource
  ##

  ValidateOrderFunction:
    Type:                               AWS::Serverless::Function
    Properties:
      InlineCode:                       |-
                                        exports.handler = async (event) => {
                                          return { isValid: true };
                                        };
      Handler:                          index.handler

  ##
  ## StepFunctionsStack / ValidateOrderFunction / LogGroup / Resource
  ##

  ValidateOrderFunctionLogs:
    Type:                               AWS::Logs::LogGroup
    Properties:
      LogGroupName:                     !Sub /aws/lambda/${ValidateOrderFunction}
      RetentionInDays:                  731
    DeletionPolicy:                     Retain
    UpdateReplacePolicy:                Retain

  ##
  ## StepFunctionsStack / ProcessPaymentFunction / Resource
  ##

  ProcessPaymentFunction:
    Type:                               AWS::Serverless::Function
    Properties:
      InlineCode:                       |-
                                        exports.handler = async (event) => {
                                          return { paymentSuccess: true };
                                        };
      Handler:                          index.handler

  ##
  ## StepFunctionsStack / ProcessPaymentFunction / LogGroup / Resource
  ##

  ProcessPaymentFunctionLogs:
    Type:                               AWS::Logs::LogGroup
    Properties:
      LogGroupName:                     !Sub /aws/lambda/${ProcessPaymentFunction}
      RetentionInDays:                  731
    DeletionPolicy:                     Retain
    UpdateReplacePolicy:                Retain

  ##
  ## StepFunctionsStack / ShipOrderFunction / Resource
  ##

  ShipOrderFunction:
    Type:                               AWS::Serverless::Function
    Properties:
      InlineCode:                       |-
                                        exports.handler = async (event) => {
                                          return { shipped: true };
                                        };
      Handler:                          index.handler

  ##
  ## StepFunctionsStack / ShipOrderFunction / LogGroup / Resource
  ##

  ShipOrderFunctionLogs:
    Type:                               AWS::Logs::LogGroup
    Properties:
      LogGroupName:                     !Sub /aws/lambda/${ShipOrderFunction}
      RetentionInDays:                  731
    DeletionPolicy:                     Retain
    UpdateReplacePolicy:                Retain

  ##
  ## StepFunctionsStack / ProcessOrderStateMachineLogGroup / Resource
  ##

  ProcessOrderStateMachineLogs:
    Type:                               AWS::Logs::LogGroup
    Properties:
      RetentionInDays:                  731
    DeletionPolicy:                     Delete
    UpdateReplacePolicy:                Delete

  ##
  ## StepFunctionsStack / ProcessOrderStateMachine / Role / Resource
  ##

  ProcessOrderStateMachineRole:
    Type:                               AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: states.amazonaws.com
        Version: '2012-10-17'

  ##
  ## StepFunctionsStack / ProcessOrderStateMachine / Role / DefaultPolicy / Resource
  ##

  RolePolicy:
    Type:                               AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              - !GetAtt ProcessPaymentFunction.Arn
              - !GetAtt ShipOrderFunction.Arn
              - !GetAtt ValidateOrderFunction.Arn
              - !Sub ${ProcessPaymentFunction.Arn}:*
              - !Sub ${ShipOrderFunction.Arn}:*
              - !Sub ${ValidateOrderFunction.Arn}:*
          - Action: sns:Publish
            Effect: Allow
            Resource: !Ref OrderNotificationTopic
          - Action:
              - logs:CreateLogDelivery
              - logs:DeleteLogDelivery
              - logs:DescribeLogGroups
              - logs:DescribeResourcePolicies
              - logs:GetLogDelivery
              - logs:ListLogDeliveries
              - logs:PutResourcePolicy
              - logs:UpdateLogDelivery
            Effect: Allow
            Resource: "*"
        Version: '2012-10-17'
      PolicyName:                       RolePolicy
      Roles:
        - !Ref ProcessOrderStateMachineRole

  ##
  ## StepFunctionsStack / ProcessOrderStateMachine / Resource
  ##

  ProcessOrderStateMachine:
    Type:                               AWS::Serverless::StateMachine
    Properties:
      Logging:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt ProcessOrderStateMachineLogs.Arn
        IncludeExecutionData: true
        Level: ALL
      Role:                             !GetAtt ProcessOrderStateMachineRole.Arn
      Name:                             ProcessOrderStateMachine
      Type:                             STANDARD
      Definition:
        StartAt: ValidateOrder
        States:
          ValidateOrder:
            Next: OrderValid?
            Retry:
              - ErrorEquals:
                  - Lambda.ClientExecutionTimeoutException
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                IntervalSeconds: 2
                MaxAttempts: 6
                BackoffRate: 2
            Type: Task
            Resource: !Sub arn:${AWS::Partition}:states:::lambda:invoke
            Parameters:
              FunctionName: !GetAtt ValidateOrderFunction.Arn
              Payload.$: $
          OrderValid?:
            Type: Choice
            Choices:
              - Variable: $.Payload.isValid
                BooleanEquals: true
                Next: ProcessPayment
            Default: OrderFailed
          OrderFailed:
            End: true
            Type: Task
            Resource: !Sub arn:${AWS::Partition}:states:::sns:publish
            Parameters:
              TopicArn: !Ref OrderNotificationTopic
              Message: Order validation failed
          ProcessPayment:
            Next: PaymentSuccessful?
            Retry:
              - ErrorEquals:
                  - Lambda.ClientExecutionTimeoutException
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                IntervalSeconds: 2
                MaxAttempts: 6
                BackoffRate: 2
            Type: Task
            Resource: !Sub arn:${AWS::Partition}:states:::lambda:invoke
            Parameters:
              FunctionName: !GetAtt ProcessPaymentFunction.Arn
              Payload.$: $
          PaymentSuccessful?:
            Type: Choice
            Choices:
              - Variable: $.Payload.paymentSuccess
                BooleanEquals: true
                Next: ShipOrder
            Default: PaymentFailed
          PaymentFailed:
            End: true
            Type: Task
            Resource: !Sub arn:${AWS::Partition}:states:::sns:publish
            Parameters:
              TopicArn: !Ref OrderNotificationTopic
              Message: Payment processing failed
          ShipOrder:
            Next: NotifySuccess
            Retry:
              - ErrorEquals:
                  - Lambda.ClientExecutionTimeoutException
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                IntervalSeconds: 2
                MaxAttempts: 6
                BackoffRate: 2
            Type: Task
            Resource: !Sub arn:${AWS::Partition}:states:::lambda:invoke
            Parameters:
              FunctionName: !GetAtt ShipOrderFunction.Arn
              Payload.$: $
          NotifySuccess:
            End: true
            Type: Task
            Resource: !Sub arn:${AWS::Partition}:states:::sns:publish
            Parameters:
              TopicArn: !Ref OrderNotificationTopic
              Message: Order processed successfully
    DependsOn:
      -                                 RolePolicy
      -                                 ProcessOrderStateMachineRole
    DeletionPolicy:                     Delete
    UpdateReplacePolicy:                Delete


Outputs:
  StateMachineArn:
    Value:                              !Ref ProcessOrderStateMachine
Globals:
  Function:
    Runtime:                            nodejs22.x
